@{
    ViewData["Title"] = "Enfermedades";
    
}

<div class=" page_render " id="renderLocalDisease">


    <partial name="_ShowDiseases"></partial>

</div>

<partial name="_Add_Update_Disease" />


<script src="/js/Disease.js"></script>