<!-- Modal add User-->

<div class="modal" id="user_information_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modalmodal-dialog-centered ">
        <div class="modal-content salud-bg ">
            <div class="modal-header">
                <h5 class="modal-title salud-color fs-5" id="modaltitleUsuario">Información del Usuario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body salud-bg container">
                <div class="cont">
                    <div class="card">
                        <img src="/img/men_img.png" alt="Foto de perfil" class="profile-pic">
                        <div class="user-info">


                            <div class="name_user">
                                <h2 id="info_nameUser">Nombre Usuario</h2>
                            </div>


                            <div class="row">

                                <div class="col">
                                    <div class="form-outline">
                                        <span id="info_name" class="form-control">Carlos Daniel </span>

                                        <label class="form-label" for="nombre">Nombre</label>
                                    </div>

                                </div>
                                <div class="col">
                                    <!-- Cedula -->
                                    <div class="form-outline">
                                        <span id="info_cedula" class="form-control">504410118</span>
                                        <label class="form-label" for="cedula">Identificación</label>
                                    </div>
                                </div>

                            </div>
                            <hr />
                            <div class="row">

                               

                                <div class="col">
                                    <div class="form-outline">
                                        <span id="info_whatsApp" class="form-control"> </span>
                                        <label class="form-label" for="whatsapp">WhatsApp</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-outline">
                                        <span id="info_tel" class="form-control">8594461</span>
                                        <label class="form-label" for="tel">Teléfono</label>
                                    </div>
                                </div>
                            </div>
                            <hr />

                            <div class="row">
                                <div class="col">

                                    <!-- Correo Electrónico -->
                                    <div class="form-outline">
                                        <span id="info_email" class="form-control">cali@gmail.com </span>
                                        <label class="form-label" for="email">Correo Electrónico</label>
                                    </div>

                                </div>
                            </div>
 


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<style>

    .name_user {
    }
</style>