
@{
    ViewData["Title"] = "Usuarios";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
 
<div class=" page_render " id="renderLocalUser">
    
    
    <partial name="_ShowUsers"></partial>
    

</div>
@Html.Partial("_EditUser")
 
<script src="~/js/User.js"> </script>