
<script src="/js/Folder.js"></script>


@{
    ViewData["Title"] = "Expedientes";
}

<div class=" page_render " id="renderLocaFolder">
    <partial name="_ShowFolders"></partial>
</div>
@* <partial name="_AddPatient"></partial> *@
<partial name="_AddPatient"/>
