@{
    ViewData["Title"] = "Principal";
}
<div class="home_img ">


    <img src="/img/Logo.png" />


</div>
<footer class="footer_page footer">
    <div>
        &copy; 2023 - Medical_Records_UNA - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>

</footer>